@import './variables.scss';
@import './animate.scss';

.popover-trigger {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.tooltip-trigger {
  position: relative;
  &::before {
    transition: width .3s;
    content: ' ';
    position: absolute;
    width: 0;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid $primary-color;
  }
  &:hover {
    &::before {
      width: 100%;
    }
  }
}

.popover-menu {
  position: absolute;
  z-index: 1000;
}

.dropdown-menu {
  box-shadow: $shadow;
  min-width: 100px;
  text-align: center;
  >li {
    padding: 10px 16px;
    background: #fff;
    border-bottom: 1px solid $lighter;
    cursor: pointer;
    line-height: 1;
    a {
      color: #4B4F56;
      &:hover {
        color: $primary-color;
      }
    }
    &:hover {
      color: $primary-color;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.tooltip-menu {
  box-shadow: $shadow;
  padding: 10px 16px;
  background: #fff;
  border-left: 3px solid $primary-color;
  line-height: 1.2;
}
