@import './variables.scss';

.loading-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
}

.loading-bar-inner {
  transition: width .2s linear;
}

.loading-bar-inner-color-primary {
  background-color: $primary-color;
}

.loading-bar-inner-failed-color-error {
  background-color: $error-color;
}
