@import 'variables.scss';
.uploader {
  input[type="file"] {
    display: none;
  }
  margin-bottom:20px;
  .progress {
    position: absolute;
  }
  .progress {
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  .thumb {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    position: relative;
    opacity: 1;
    transition: opacity .2s;
  }
  .file-action {
    user-select: none;
    font-size: 12px;
    >span {
      cursor: pointer;
    }
  }
}


.uploader-drag {
  background: #f3f3f3;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

.uploader-list-item {

  position: relative;
  overflow: hidden;
}

.uploader-cover {
  .uploader-list-item {
    height: 140px;
    width: 100%;
    background: $lighter;
  }
  .thumb {
    height: 140px;
  }
  .file-action {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    >span {
      background: rgba(0, 0, 0, .3);
      padding: 2px 4px;
    }
  }

  .uploader-drag {
    height: 140px;
    line-height: 140px;
    i {
      font-size: 18px;
    }
  }
}

.uploader-gallery {
  .uploader-drag {
    float: left;
    height: 80px;
    line-height: 80px;
    @include large {
      width: 25%;
    }
    @include middle {
      width: 33.33333%;
    }
    @include small {
      width: 50%;
    }
  }
  .uploader-list-item {
    background: $lighter;
    float: left;
    height: 80px;
    text-align: center;
    @include large {
      width: 25%;
    }
    @include middle {
      width: 33.33333%;
    }
    @include small {
      width: 50%;
    }
  }
  .thumb {
    height: 100%;
  }
  .file-action {
    font-size: 10px;
    position: absolute;
    bottom: 4px;
    width: 100%;
    >span {
      padding: 2px;
      background: rgba(0, 0, 0, .3);
      color: #fff;
    }
  }
}

.uploader-circle {
  .uploader-drag {
    border-radius: 100%;
    border: 1px solid $lighter;
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
  .uploader-list-item,
  .thumb {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    &:hover {
      .file-action {
        display: block;
      }
    }
  }
  .file-action {
    position: absolute;
    font-size: 18px;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    .uploader-list-view {
      display: none !important;
    }
    span {
      background: rgba(0, 0, 0, .8);
      color: #fff;
      span {
        display: none;
      }
    }
  }
}

.uploader-music {
  .uploader-list-item {
    min-height: 40px;
  }
  .file-action {
    text-align: center;
    >span {
      &:hover {
        color: $primary-color;
      }
    }
  }
}

.uploader-drag {
  border: 3px dashed $lighter;
}

.uploader-dragOver {
  border: 3px dashed $primary-color;
}

.uploader-list {
  margin-bottom: 20px;
}

.uploader-list-file {}

.uploader-file-uploading {
  .thumb {
    opacity: .7;
  }
}

.uploader-list-file-finish {}

.uploader-list-file-cancel {}

.uploader-file-aborted {
  border: 1px solid $warning-color;
  .thumb {
    opacity: .7;
  }
}

.uploader-file-fail {
  border: 1px solid $error-color;
}
