.markdown-body {
  a {
    padding: 0 0.3em 0.1em 0.3em;
    text-decoration: none;
    color: lighten($green, 10%);
    font-style:italic;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    margin-bottom: 1em;
  }

  h1 {
    border-bottom: 1px solid lighten($lighter, 25%);
  }

  ol,
  ul {
    margin-right: 25px;
    margin-bottom: 1em;
  }

  ul li {
    list-style: none;
    &:hover {
      &:before {
        transform: translateX(4px);
      }
    }
  }

  ul li:before {
    content: '\2010';
    display: block;
    position: relative;
    max-width: 0;
    max-height: 0;
    left: -1em;
    top: -.1em;
    color: $lighter;
    transition: all .2s ease-in;
    font-size: 1.2em;
  }



  li {
    font-size: .9em;
  }

  li p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }

  .footnote {
    font-size: 50%;
    vertical-align: super;
  }
  div.footnotes {
    font-size: 80%;
  }
  pre,
  code {
    white-space: pre-wrap;
  }
  blockquote {
    border-left: 3px solid lighten($lighter, 20%);
    display: block;
    padding: 0 1em;
    font-style: italic;
    color: $light;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
  }

  code {
    font-family: Inconsolata, "Courier Prime", mono;
    font-size: 80%;
    padding: 2px;
    color: rgb(20, 126, 73);
    background: rgb(224, 232, 228);
  }
}