@import './var.scss';
@import url('https://fonts.googleapis.com/css?family=Helvetica');
@import './markdown.scss';

::selection {
  color: #fff;
  background-color: $blue;
  text-shadow: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
  >li {
    display: inline-block;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: .1em;
  font-weight: bold;
  margin: 0;
}



html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
  word-break: break-word;
}



#wrap {

  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  @include xlarge {
    width: 1200px;
  }
  @include large {
    width: 1000px;
  }
  @include middle {
    width: 780px;
  }
  @include small {
    width: 95%;
  }
}

.page-container {
  flex: 1;
  @include xlarge {
    padding: 50px 0;
  }
  @include large {
    padding: 50px 0;
  }
  @include middle {
    padding: 40px 0;
  }
  @include small {
    padding: 20px 0;
  }
}


p {
  margin: 5px 0;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.76;
  color: $primary-color;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    color: $blue;
  }
}

.mb {
  margin-bottom: 1em;
}

.pointer {
  cursor: pointer;
}


.color-text {
  color: $blue;
}

.font-exo {
  font-family: exo;
}

.right {
  float: right;
}

.carousel {
  margin-bottom: 40px;
}

.logo {
  line-height: 1;
  font-weight: bolder;
  a,
  a.router-link-exact-active {
    color: #fff;
  }
  @include small {
    font-size: 1.8em;
  }
}

// .site-header {
//   display: flex;
//   -webkit-box-pack: justify;
//   justify-content: space-between;
//   -webkit-box-align: end;
//   align-items: flex-end;
//   margin-bottom: 3em;
//   @include middle {
//     display: block;
//     .logo {
//       margin-bottom: .6em;
//     }
//     .navbar {
//       li {
//         margin-left: 0;
//         margin-right: 26px;
//       }
//     }
//   }
//   @include small {
//     display: block;
//     margin-bottom: 1em;
//     .logo {
//       margin-bottom: .6em;
//     }
//     .navbar {
//       li {
//         margin-left: 0;
//         margin-right: 26px;
//       }
//     }
//   }
// }
// .navbar {
//   li {
//     margin-left: 26px;
//   }
// }
.site-header {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  height: 100%;
  text-alignt: center;
  padding: 0 22px;
  a {
    color: #fff;
    writing-mode: vertical-rl;
    display: block;
    line-height: 1;
    margin: 26px auto;
    font-size: 18px;
    font-weight: bold;
  }
}

a {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    border-bottom: 1px solid $blue;
    transition: width .2s ease-in;
  }
  &:hover {
    &:before {
      left: 0;
      width: 100%;
      z-index: -1;
    }
  }
}

.side-bar {
  padding: 34px 26px;
  position: fixed;
  text-align: center;
  width: 200px;
  background: $blue;
  color: #fff;
  top: 0;
  right: 0;
  height: 100%;
  a {
    color: #fff;
  }
  .footer {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 52px);
    font-size: 12px;
  }
}

hr {
  height: 1px;
  background: $lighter;
  border: none;
}

footer {
  margin-top: 1em;
}

.hero {
  user-select: none;
  margin-top: 30px;
  overflow: hidden;
  h3 {
    margin-bottom: 2em;
    letter-spacing: 0px;
    position: relative;
    display: inline-block;
    &:before {
      position: absolute;
      content: ' ';
      height: 3px;
      background: $blue;
      width: 100vw;
      left: 110%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  h2 {
    font-size: 38px;
    letter-spacing: 2px;
    margin-bottom: 1em;
  }
  b {
    color: $blue;
  }
  .date {
    padding: 1em 0;
    color: $green;
  }
}

.index-case-list {
  .background {
    border: none;
  }
  @include xlarge {
    width: 60%;
    margin: 60px 0;
  }
  @include large {
    width: 70%;
    margin: 60px 0;
  }
  @include middle {
    width: 80%;
    margin: 40px 0;
  }
  @include small {
    width: 100%;
    margin: 20px 0;
  }
}



.font-small {
  font-size: 85%;
}

.font-smaller {
  font-size: 65%;
}

.router-link-exact-active {
  color: $blue;
}

.muted {
  color: $lighter;
  font-size: 1em;
  padding: 0 .3em;
}

.light {
  color: $light;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s
}

.fade-enter,
.fade-leave-to {
  opacity: 0
}

.page-container {}



.loading-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel {
  position: relative;
}

.carousel-indicator {
  position: absolute;
  bottom: 16px;
  right: 30px;
  user-select: none;
  span {
    margin: 0 14px;
    color: #fff;
    font-weight: 400;
  }
}


.background {
  border: 1px solid $lighter;
}


.map {
  position: relative;
}

// .gm-style>div:first-child>div+div>div:last-child>div>div:first-child>div,
// .gm-style>div:first-child>div+div>div:last-child>div>div:last-child,
// .gm-style>div:first-child>div+div>div:last-child>div>div:first-child>div>div>div,
// .gm-style>div:first-child>div+div>div:last-child>div>div:last-child>img,
// .gmnoprint {
//   /* we have to use !important because we are overwritng inline styles */
//   background-color: transparent !important;
//   box-shadow: none !important;
//   width: auto !important;
//   height: auto !important;
//   display: none !important;
// }
// .gm-style-iw {
//   width: 320px !important;
//   height: auto !important;
//   overflow: unset !important;
//   >div:first-child {
//     >div:first-child {
//       overflow: unset !important;
//     }
//     overflow: unset !important;
//     max-height: none !important;
//     max-width: none !important;
//     height: auto !important;
//   }
// }
// .infoWindow {
//   background: rgba(255, 255, 255, .96);
//   border-left: 3px solid $blue;
//   padding: 10px;
//   box-shadow: $shadow;
//   width: 320px;
//   margin: 4px;
//   position: absolute;
//   left: 0;
//   transform: translate3d(-50%, -50%, 0);
//   top: 0;
//   &::before {
//     width: 0;
//     height: 0;
//     border-left: 10px solid transparent;
//     border-right: 10px solid transparent;
//     bottom: -10px;
//     border-top: 10px solid rgba(255, 255, 255, .96);
//     content: ' ';
//     position: absolute;
//     left: 50%;
//     transform: translateX(-50%);
//   }
//   .infoWindow-title {
//     font-size: 16px;
//     margin-bottom: 8px;
//     &:hover {
//       a {
//         color: $blue
//       }
//     }
//   }
// }
// .project-list {
//   li {
//     border-right: 1px solid $light;
//     padding-right: 12px;
//     margin-right: 12px;
//     line-height: 1;
//     &:last-child {
//       border: none;
//       margin-right: 0;
//       padding-right: 0;
//     }
//   }
// }
.uploader {
  position: relative;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  background: $blue;
  cursor: pointer;
  color: #fff;
  overflow: hidden;
  .uploader-input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
  }
}

.icon-close {
  &:before {
    content: '\e80a' !important;
  }
}

.page-container {
  >.article-list {
    padding-top: 3em;
  }
}

.article-card {
  margin-bottom: 3em;
  border-bottom: 1px solid $lighter;
  padding-bottom: 1em;
  .tags {
    span {
      color: $light;
      margin-right: .8em;
    }
  }
  .title {
    font-size: 1.6em;
    margin-bottom: 1em;
  }
  .intro {
    font-size: .9em;
    white-space: pre-wrap;
    padding: 0;
    text-indent: 0;
    color: $light;
    display: flex;
    margin-bottom: 1em;
    p {
      padding-left: 1em;
      margin: 0;
    }
    .background {
      flex: 0 0 auto;
      margin-right: .6em;
    }
  }
  .location {}
  .action-bar {
    margin: 20px 0;
    font-size: .6em;
  }
}

.vue-map-container {
  margin-bottom: 2em;
}

.article {
  margin-top: 1em;
  position: relative;
  .content {
    width: calc(100% - 200px);
    float: left;
    padding-right: 20px;
    @include small {
      width: 100%;
      padding-right: 0;
    }
  }
  .toc {
    @include small {
      display: none;
    }
    font-size:90%;
    width:200px;
    float: right;
    .active {
      color: $blue;
      font-style: italic;
    }
    li {
      display: block;
      margin-bottom: .2em;
    }
    ul {

      >li {
        >ul {
          padding-left: 1em;
          font-size: 90%;
        }
      }
    }
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}







/* start commented backslash hack \*/

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}