@import './var.scss';
@import './markdown.scss';
$animationDuration: 1.5s;
@import "../node_modules/vue2-animate/src/sass/vue2-animate.scss";
::selection {
    color: #fff;
    background-color: $blue;
    text-shadow: none;
}

@font-face {
    font-family: 'AvenirNext';
    src: url('/AvenirNext.ttf');
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
    >li {
        display: inline-block;
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 700;
    margin: 0;
}



html,
body {
    height: 100%;
}

* {
    box-sizing: border-box;
    word-break: break-word;
}

p {
    margin: 5px 0;
}

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', -apple-system, BlinkMacSystemFont, Roboto, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.76;
    color: #4A4A4A;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

a {
    color: $primary-color;
    text-decoration: none;
    &:hover {
        color: $blue;
    }
}

.mb {
    margin-bottom: 1em;
}

.pointer {
    cursor: pointer;
}


.color-text {
    color: $blue;
}

.font-exo {
    font-family: exo;
}

.right {
    float: right;
}

.carousel {
    margin-bottom: 40px;
}

.current-project {
    position: absolute;
    top: 16px;
    left: 232px;
}

.logo {
    font-family: 'AvenirNext';
    line-height: 1;
    font-weight: heavy;
    font-size: 24px;
    color: $blue;
    position: absolute;
    top: 16px;
    left: 46px;
    a {
        color: $blue;
    }
    @include small {
        font-size: 1.8em;
    }
}



// a {
//     position: relative;
//     &:before {
//         content: "";
//         position: absolute;
//         top: 0;
//         right: 0;
//         width: 0;
//         height: 100%;
//         border-bottom: 1px solid $blue;
//         transition: width .2s ease-in;
//     }
//     &:hover {
//         &:before {
//             left: 0;
//             width: 100%;
//             z-index: -1;
//         }
//     }
// }
hr {
    height: 1px;
    background: $lighter;
    border: none;
}

footer {
    margin-top: 1em;
}

#wrap {

    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.m10 {
    margin: 5px 0;
}

.m20 {
    margin: 10px 0;
}

.m30 {
    margin: 15px 0;
}

.strong {
    font-weight: 700;
}

.yellow {
    color: $yellow;
}

.yellow-light {
    color: $yellow-light;
}

.yellow-bright {
    color: $yellow-bright;
}

.blue-light {
    color: $blue-light;
}

.blue {
    color: $blue;
}

.black {
    color: #333;
}

.green {
    color: $green;
}

.brown {
    color: $brown;
}

.font-light {
    font-weight: 200 !important;
}

.font-small {
    font-size: 85%;
}

.font-smaller {
    font-size: 65%;
}

.router-link-exact-active {
    color: $blue;
}

.muted {
    color: $lighter;
    font-size: 1em;
    padding: 0 .3em;
}

.light {
    color: $light;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .2s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

.slide-out-enter,
.slide-in-leave-active {
    /*    opacity: 0;
*/
    transform: translate(-50px, 100%);
}

.slide-out-leave-active,
.slide-in-enter {
    /*opacity: 0;*/
    transform: translate(50px, 100%);
}

// .page-container {
//     flex: 1;
//     position: relative;
//     min-height: 100vh;
// }
.index-container {
    min-height: 100vh;
    padding: 8% 33px 4% 33px;
    position: relative;
    @include xlarge {
        margin-left: 300px;
    }
    @include large {
        margin-left: 200px;
    }
    @include middle {
        margin-left: 120px;
    }
    @include small {
        margin-left: 40px;
        .hero {
            h2 {
                font-size: 22px !important;
            }
        }
    }
    .typer-1 {
        font-size: 18px;
    }
    .line {
        width: 3px;
        height: calc(100% - 50px);
        background: $blue;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 1;
    }
    .intro {
        margin-top: 60px;
    }
    .hero {
        position: relative;
        z-index: 10;
        transition: all .2s linear;
        h2 {
            font-size: 48px;
            text-align: right;
            cursor: pointer;
        }
        float:left;
        margin-left:-43px;
        background:#fff;
        padding-left:43px;
    }
    .typer {
        margin-bottom: 30px;
    }
    .contact {
        position: absolute;
        bottom: 20px;
        left: 33px;
    }
}


.list-container {
    position: fixed;
    z-index: 100;
    transition: all .8s cubic-bezier(.55, 0, .1, 1);
    .list-content {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 110;
        background: $blue-light;
        .desp {
            padding: 40px;
            padding-right:22%;
            p {
                margin-bottom: 20px;
            }
        }
    }
    .content-visual_analysis {
        background: $blue-light;
    }
    .content-urban_experience {
        background: $green-light;
    }
    .content-social_media_data {
        background: $yellow-light;
    } // @include xlarge {
    //     left: 300px;
    //     width: calc(100% - 300px);
    // }
    // @include large {
    //     left: 200px;
    //     width: calc(100% - 200px);
    // }
    // @include middle {
    //     left: 120px;
    //     width: calc(100% - 120px);
    // }
    // @include small {
    //     left: 40px;
    //     width: calc(100% - 40px);
    // }
}

.list-tab {
    position: absolute;
    top: 0;
    z-index: 90;
    .list-tab-item {
        font-weight: 700;
        height: 40px;
        line-height: 40px;
        padding-left: 5px;
        cursor: pointer;
        user-select: none;
    }
    .tab-visual_analysis {
        background: $blue;
        color: $blue-light; // animation-delay: .1s;
        // transition-delay: .1s;
        &.tab-active {
            background: $blue-light;
            color: $blue;
        }
    }
    .tab-urban_experience {
        background: $green;
        color: $green-light; // animation-delay: .2s;
        // transition-delay: .2s;
        &.tab-active {
            background: $green-light;
            color: $green;
        }
    }
    .tab-social_media_data {
        background: darken($yellow-light,25%);
        color: $yellow-light; // animation-delay: .3s;
        // transition-delay: .3s;
        &.tab-active {
            background: $yellow-light;
            color: darken($yellow-light,25%);
        }
    }
}




.oval {
    border-radius: 50%;
    position: absolute;
}

.oval-yellow {
    background: $yellow;
}

.page-list {
    // .list-container {
    //     overflow-y: auto;
    //     overflow-x:auto;
    // }
}

.page-article {
    .site-header {
        .page-container {
            width: 100%;
        }
        canvas {
            display: none;
        }
        .hero {
            color: $lighter;
            text-align: left;
            left: 0;
            right: auto;
            position: absolute !important;
            h1 {
                font-size: 72px !important;
            }
        }
        .label {
            top: 56px;
            left: 150px;
            background: none;
        }
        .line-dashed {
            top: 82px;
        }
    }
}




.loading-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.background {
    border: 1px solid $lighter;
}


.map {
    position: relative;
}

// .gm-style>div:first-child>div+div>div:last-child>div>div:first-child>div,
// .gm-style>div:first-child>div+div>div:last-child>div>div:last-child,
// .gm-style>div:first-child>div+div>div:last-child>div>div:first-child>div>div>div,
// .gm-style>div:first-child>div+div>div:last-child>div>div:last-child>img,
// .gmnoprint {
//   /* we have to use !important because we are overwritng inline styles */
//   background-color: transparent !important;
//   box-shadow: none !important;
//   width: auto !important;
//   height: auto !important;
//   display: none !important;
// }
// .gm-style-iw {
//   width: 320px !important;
//   height: auto !important;
//   overflow: unset !important;
//   >div:first-child {
//     >div:first-child {
//       overflow: unset !important;
//     }
//     overflow: unset !important;
//     max-height: none !important;
//     max-width: none !important;
//     height: auto !important;
//   }
// }
// .infoWindow {
//   background: rgba(255, 255, 255, .96);
//   border-left: 3px solid $blue;
//   padding: 10px;
//   box-shadow: $shadow;
//   width: 320px;
//   margin: 4px;
//   position: absolute;
//   left: 0;
//   transform: translate3d(-50%, -50%, 0);
//   top: 0;
//   &::before {
//     width: 0;
//     height: 0;
//     border-left: 10px solid transparent;
//     border-right: 10px solid transparent;
//     bottom: -10px;
//     border-top: 10px solid rgba(255, 255, 255, .96);
//     content: ' ';
//     position: absolute;
//     left: 50%;
//     transform: translateX(-50%);
//   }
//   .infoWindow-title {
//     font-size: 16px;
//     margin-bottom: 8px;
//     &:hover {
//       a {
//         color: $blue
//       }
//     }
//   }
// }
// .project-list {
//   li {
//     border-right: 1px solid $light;
//     padding-right: 12px;
//     margin-right: 12px;
//     line-height: 1;
//     &:last-child {
//       border: none;
//       margin-right: 0;
//       padding-right: 0;
//     }
//   }
// }
.uploader {
    position: relative;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    background: $blue;
    cursor: pointer;
    color: #fff;
    overflow: hidden;
    .uploader-input {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
    }
}

.icon-close {
    &:before {
        content: '\e80a' !important;
    }
}

.article-list {
    padding: 40px;
    .title {
        @include small {
            font-size: 14px;
        }
    }
    .article-card {
        &:nth-child(odd) {
            border-left: 3px solid $blue;
        }
    }
}




.article-card {
    margin-bottom: 40px;
    padding-left: 20px;
    .tags{
        span{
            margin-right:6px;
        }
    }
    .meta {
        font-size: 12px;
    }
    .title {
        font-size: 16px;
        line-height: 35px;
    }
    .intro {
        white-space: pre-wrap;
        padding: 0;
        text-indent: 0;
        display: flex;
        font-size: 13px;
        p {
            margin: 0;
        }
    }
    .location {}
    .action-bar {
        margin: 20px 0;
        font-size: .6em;
    }
}

.vue-map-container {
    margin-bottom: 2em;
}
.article-container {
    transition: all .8s cubic-bezier(.55, 0, .1, 1);
    position: fixed;
    top: 40px;
    min-height: calc(100% - 40px);
    background: #fff;
    z-index: 200;
    left: 40px;
    width: calc(100% - 40px);
    padding: 40px 40px;
    box-shadow: -3px 4px 10px rgba(0, 0, 0, .2);
    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
}

.article {
    position: relative;
    padding-right:16%;
    .content {
        padding:0 40px;
        padding-bottom: 40px;
        p{
            margin-bottom:.875em;
        }
    }
    .head {
        h2 {
            font-size: 20px;
        }
        padding-left:40px;
        border-left:3px solid $light;
        margin-bottom:40px;
        .intro {
            color: #808080;
            font-weight:300;
            margin-top:15px;
            padding-right:20px;
            padding-left:30px;
            font-size:14px;
            white-space:pre-wrap;
        }
    }
    .date {
        position: absolute;
        top: -50px;
        right: 0;
    }
    blockquote {
        background: $lighter;
        margin-left: -43px;
        padding: 23px;
        font-style: normal;
    }
    // .toc {
    //     @include small {
    //         display: none;
    //     }
    //     font-size:90%;
    //     width:200px;
    //     float: right;
    //     .active {
    //         color: $blue;
    //         font-style: italic;
    //     }
    //     li {
    //         display: block;
    //         margin-bottom: .2em;
    //     }
    //     ul {

    //         >li {
    //             >ul {
    //                 padding-left: 1em;
    //                 font-size: 90%;
    //             }
    //         }
    //     }
    // }
}














































































/* start commented backslash hack \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}



.typed-cursor {
    opacity: 1;
    color: $blue-light;
}

.typed-cursor.typed-cursor--blink {
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
    50% {
        opacity: 0.0;
    }
}

@-webkit-keyframes typedjsBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}