@import './var.scss';
// @import url('https://fonts.googleapis.com/css?family=Seymour+One');
@import './markdown.scss';

::selection {
    color: #fff;
    background-color: $blue;
    text-shadow: none;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
    >li {
        display: inline-block;
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Avenir Next', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 800;
    margin: 0;
}



html,
body {
    height: 100%;
}

* {
    box-sizing: border-box;
    word-break: break-word;
}

p {
    margin: 5px 0;
}

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.76;
    color: #4A4A4A;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

a {
    color: $primary-color;
    text-decoration: none;
    &:hover {
        color: $blue;
    }
}

.mb {
    margin-bottom: 1em;
}

.pointer {
    cursor: pointer;
}


.color-text {
    color: $blue;
}

.font-exo {
    font-family: exo;
}

.right {
    float: right;
}

.carousel {
    margin-bottom: 40px;
}

.logo {
    line-height: 1;
    font-weight: bolder;
    a,
    a.router-link-exact-active {
        color: #fff;
    }
    @include small {
        font-size: 1.8em;
    }
}



// a {
//     position: relative;
//     &:before {
//         content: "";
//         position: absolute;
//         top: 0;
//         right: 0;
//         width: 0;
//         height: 100%;
//         border-bottom: 1px solid $blue;
//         transition: width .2s ease-in;
//     }
//     &:hover {
//         &:before {
//             left: 0;
//             width: 100%;
//             z-index: -1;
//         }
//     }
// }
hr {
    height: 1px;
    background: $lighter;
    border: none;
}

footer {
    margin-top: 1em;
}

#wrap {

    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin-top: 80px;
    @include xlarge {
        width: 1200px;
    }
    @include large {
        width: 1000px;
    }
    @include middle {
        width: 780px;
    }
    @include small {
        width: 95%;
    }
    >div {
        flex: 1;
    }
}

.m10 {
    margin: 5px 0;
}

.m20 {
    margin: 10px 0;
}

.m30 {
    margin: 15px 0;
}

.strong {
    font-weight: 800;
}

.yellow {
    color: $yellow;
}

.yellow-light {
    color: $yellow-light;
}

.yellow-bright {
    color: $yellow-bright;
}

.blue-light {
    color: $blue-light;
}

.blue {
    color: $blue;
}

.black {
    color: #333;
}

.green {
    color: $green;
}

.brown {
    color: $brown;
}

.font-light {
    font-weight: 200 !important;
}

.font-small {
    font-size: 85%;
}

.font-smaller {
    font-size: 65%;
}

.router-link-exact-active {
    color: $blue;
}

.muted {
    color: $lighter;
    font-size: 1em;
    padding: 0 .3em;
}

.light {
    color: $light;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .2s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

.page-container {
    flex: 1;
    position: relative;
    min-height: 100vh;
}

.site-header {
    width: 100%;
    position: relative;
    .hero {
        text-align: right;
        position: static;
        margin-top: 30px;
    }
    .line-dashed {
        position: absolute;
        width: calc(100% - 160px);
        top: 54px;
        right: 0;
        z-index: 35;
    }
    .page-container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        @include xlarge {
            width: 1200px;
        }
        @include large {
            width: 1000px;
        }
        @include middle {
            width: 780px;
        }
        @include small {
            width: 95%;
        }
    }
    margin-bottom:30px;
    .site-nav {
        position: absolute;
        bottom: -60px;
        right: 40px;

        a {
            font-size: 20px;
            margin-left: 40px;
            position: relative;
            &:before {
                content: ' ';
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background: $yellow-bright;
                top: 8px;
                left: -15px;
                transition: all .3s linear;
            }
            &:hover {
                &:before {
                    transform: translateX(10px)
                }
            }
        }
    }
    #header-oval {
        position: absolute;
        top: -100px;
        left: -60px;
    }
    .label {
        position: absolute;
        z-index: 30;
        top: 40px;
        left: 50px;
        width: 130px;
        background: #fff;
        padding: 1px 10px;
        border-radius: 10px 0 0 10px;
    }
}


.split {
    width: 100%;
    position: relative;
    margin: 20px 0;
    .oval {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        z-index: 5;
    }
    .border-wrap {
        position: absolute;
        width: calc(100% - 16px);
        right: 0;
        top: 15px;
        height: 4px;
        z-index: 10;
        &:before {
            content: ' ';
            position: absolute;
            height: 6px;
            width: 30px;
            background: #fff;
            top: -3px;
            left: -2px;
            border-radius: 6px;
        }
    }
    .border {
        width: 100%;
        height: 2px;
        position: absolute;
        top: -1px;
        border-top-width: 2px;
        border-bottom-width: 2px;
    }
    &.split-color-blue {
        .oval {
            background: $blue;
        }
        .border {
            border-top-color: $blue;
            border-bottom-color: $blue;
        }
    }
    &.split-border-solid {
        .border {
            border-bottom-style: solid;
        }
    }
    &.split-border-dotted {
        .border {
            border-bottom-style: dotted;
        }
    }
    &.split-border-dashed {
        .border {

            border-bottom-style: dashed;
        }
    }
}

.page-index {
    .site-nav {
        //bottom: -20px;
    }
    .site-header {
        .hero {
            margin: 0;
            padding-right: 40px;
        }
        .line-dashed {
            width: 100% !important;
            left: 0;
            top: 61px;
            .suffix {
                right: 40px;
                bottom: -30px;
            }
            .prefix {
                bottom: 0;
            }
        }
    }
    .line-vertical {
        top: -128px;
        right: 0;
        height: calc(100% - 200px);
    }

    .content {
        float: right;
        margin-top: 140px;
        margin-right: 50px;
    }
    canvas#yellow-light {
        position: absolute;
        z-index: auto;
        top: 30px;
        right: -120px;
    }

    .page-container {
        padding-bottom: 362px;
    }
}

.index-desp {
    position: relative;
    padding-left: 80px;
    padding-right: 160px;
    margin-top: 60px;
    .pie {
        position: absolute;
        left: 0;
        top: -70px;
    }
    .black {
        font-weight: 600;
    }
}

.content {
    .title {
        position: relative;
        z-index: 10;
        font-size: 42px;
        font-weight: 800;
        line-height: 1;
        display: inline-block;
        cursor: pointer;
        >span {
            &:before {
                content: ' ';
                position: absolute;
                width: 0;
                height: 1px;
                background: $blue;
                transition: all .4s linear;
                bottom: 0;
                left: 0;
            }
        }
    }
    p {
        font-size: 14px;
        font-weight: 600;
        z-index: 10;
        position: relative;
    }
    .content-item {
        text-align: right;
        margin-bottom: 20px;
        position: relative;
        .oval {
            position: absolute !important;
            right: 0;
            top: -2px;
            z-index: 5;
        }

        &:hover {
            .title {
                >span {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.oval {
    border-radius: 50%;
    position: absolute;
}

.oval-yellow {
    background: $yellow;
}

.line {
    position: absolute;
    border-bottom: 2px solid $blue;
    span {
        color: $blue;
        position: absolute;
    }
}

.line-arrow-down {
    &:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 9px solid $blue;
        bottom: -6px;
        left: -5px;
    }
}

.line-arrow-left {
    &:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;

        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid $blue;
        bottom: -7px;
        left: -1px;
    }
}

.line-vertical {
    height: 100%;
    width: 2px;
    background: $blue;
    span {
        writing-mode: tb-rl;
    }
}

.line-dashed {
    border-bottom: 2px dashed $blue;
}

.hero {
    position: absolute;
    color: $blue-light;
    user-select: none;
    width: 100%;
    h1 {
        margin: 0;
        line-height: 1;
        display: inline;
    }
}

.about-me {
    margin-top: 150px;
    margin-right: 150px;
    float: right;
    position: relative;
    canvas {
        position: absolute;
    }
    #about-me-oval1 {
        left: -200px;
        top: -20px;
        z-index: 20;
    }
    #about-me-oval2 {
        z-index: 15;
        left: -100px;
        top: 70px;
    }
    >p {
        position: relative;
        z-index: 30;
    }
    .about-me-photo {
        background: url('./assets/piggy.png') no-repeat;
        width: 138px;
        height: 137px;
        position: absolute;
        top: -2px;
        left: -172px;
        opacity: .8;
        z-index: 30;
    }
}

.about-me-oval {
    width: 100%;
    height: 362px;
    position: absolute;
    p {
        position: absolute;
        color: #fff;
        top: 110px;
        right: 66px;
    }
    #about-me-oval3 {
        position: absolute;
        right: -30px;
    }
    .hero2 {
        bottom: -12px;
        right: 0;
        text-align: right;
        z-index: 10;
        h1 {
            padding-right: 40px;
        }
    }
    .line-bottom {
        height: 2px;
        width: calc(100% - 20px);
        background: $blue;
        bottom: 0;
        left: 0;
        .prefix {
            position: absolute;
            top: -26px;
            left: 2px;
        }
    }
    .white-cover {
        position: absolute;
        height: 138px;
        width: 500px;
        right: 0;
        bottom: -138px;
        z-index: 30;
        background: #fff;
    }
}

// .index-case-list {
//     .background {
//         border: none;
//     }
//     @include xlarge {
//         width: 60%;
//         margin: 60px 0;
//     }
//     @include large {
//         width: 70%;
//         margin: 60px 0;
//     }
//     @include middle {
//         width: 80%;
//         margin: 40px 0;
//     }
//     @include small {
//         width: 100%;
//         margin: 20px 0;
//     }
// }
.page-article {
    .site-header {
        .page-container{
            width:100%;
        }
        canvas{
            display:none;
        }
        .hero{
            color:$lighter;
            text-align:left;
            left:0;
            right:auto;
            position: absolute !important;
            h1{
                font-size:72px !important;
            }
        }
        .label{
            top:56px;
            left:150px;
            background:none;
        }
        .line-dashed{
            top:82px;
        }
    }
}




.loading-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// .carousel {
//     position: relative;
// }
// .carousel-indicator {
//     position: absolute;
//     bottom: 16px;
//     right: 30px;
//     user-select: none;
//     span {
//         margin: 0 14px;
//         color: #fff;
//         font-weight: 400;
//     }
// }
.background {
    border: 1px solid $lighter;
}


.map {
    position: relative;
}

// .gm-style>div:first-child>div+div>div:last-child>div>div:first-child>div,
// .gm-style>div:first-child>div+div>div:last-child>div>div:last-child,
// .gm-style>div:first-child>div+div>div:last-child>div>div:first-child>div>div>div,
// .gm-style>div:first-child>div+div>div:last-child>div>div:last-child>img,
// .gmnoprint {
//   /* we have to use !important because we are overwritng inline styles */
//   background-color: transparent !important;
//   box-shadow: none !important;
//   width: auto !important;
//   height: auto !important;
//   display: none !important;
// }
// .gm-style-iw {
//   width: 320px !important;
//   height: auto !important;
//   overflow: unset !important;
//   >div:first-child {
//     >div:first-child {
//       overflow: unset !important;
//     }
//     overflow: unset !important;
//     max-height: none !important;
//     max-width: none !important;
//     height: auto !important;
//   }
// }
// .infoWindow {
//   background: rgba(255, 255, 255, .96);
//   border-left: 3px solid $blue;
//   padding: 10px;
//   box-shadow: $shadow;
//   width: 320px;
//   margin: 4px;
//   position: absolute;
//   left: 0;
//   transform: translate3d(-50%, -50%, 0);
//   top: 0;
//   &::before {
//     width: 0;
//     height: 0;
//     border-left: 10px solid transparent;
//     border-right: 10px solid transparent;
//     bottom: -10px;
//     border-top: 10px solid rgba(255, 255, 255, .96);
//     content: ' ';
//     position: absolute;
//     left: 50%;
//     transform: translateX(-50%);
//   }
//   .infoWindow-title {
//     font-size: 16px;
//     margin-bottom: 8px;
//     &:hover {
//       a {
//         color: $blue
//       }
//     }
//   }
// }
// .project-list {
//   li {
//     border-right: 1px solid $light;
//     padding-right: 12px;
//     margin-right: 12px;
//     line-height: 1;
//     &:last-child {
//       border: none;
//       margin-right: 0;
//       padding-right: 0;
//     }
//   }
// }
.uploader {
    position: relative;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    background: $blue;
    cursor: pointer;
    color: #fff;
    overflow: hidden;
    .uploader-input {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
    }
}

.icon-close {
    &:before {
        content: '\e80a' !important;
    }
}

.page-container {
    >.article-list {
        width: 700px;
        float: right;
        .title {
            @include small {
                font-size: 14px;
            }
        }
    }
}

.page-concepts {
    .site-header {
        h1 {
            color: $blue-light;
        }
    }
    .article-card {
        &:nth-child(odd) {
            border-left: 3px solid $blue;
        }
    }
}

.page-methods {
    .site-header {
        h1 {
            color: $green-light;
        }
        canvas {
            fill: $yellow-light;
        }
    }
    .article-card {
        &:nth-child(odd) {
            border-left: 3px solid $green;
        }
    }
}

.page-casestudies {
    .site-header {
        h1 {
            color: $brown-light;
        }
    }
    .article-card {
        &:nth-child(odd) {
            border-left: 3px solid $brown;
        }
    }
}

.article-card {
    font-family: 'Source Sans Pro';
    margin-bottom: 40px;
    padding-left: 20px;
    .meta {
        font-size: 12px;
    }
    .title {
        font-size: 16px;
        line-height: 35px;
    }
    .intro {
        white-space: pre-wrap;
        padding: 0;
        text-indent: 0;
        display: flex;
        font-size: 13px;
        p {
            margin: 0;
        }
    }
    .location {}
    .action-bar {
        margin: 20px 0;
        font-size: .6em;
    }
}

.vue-map-container {
    margin-bottom: 2em;
}

.article {
    margin-top: 60px;
    position: relative;
    width:700px;
    float:right;
    .head{
        h2{
            font-size:20px;
        }
        padding-left:20px;
        border-left:3px solid $light;
        margin-left:-20px;
        padding-bottom:40px;
        margin-bottom:40px;
        .intro{
            color:#666666;
        }
    }
    .date{
        position: absolute;
        top:-50px;
        right:0;
    }
    .content {
        width: calc(100% - 200px);
        float: left;
        padding-right: 20px;
        @include small {
            width: 100%;
            padding-right: 0;
        }
    }
    blockquote{
        background:$lighter;
        margin-left:-50px;
        padding:23px;
        font-style:normal;
    }
    .toc {
        @include small {
            display: none;
        }
        font-size:90%;
        width:200px;
        float: right;
        .active {
            color: $blue;
            font-style: italic;
        }
        li {
            display: block;
            margin-bottom: .2em;
        }
        ul {

            >li {
                >ul {
                    padding-left: 1em;
                    font-size: 90%;
                }
            }
        }
    }
}




























































/* start commented backslash hack \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}