$primary-color:#333;
$primary-color-dark:darken($primary-color, 5%);
$light:lighten($primary-color, 30%);
$lighter:lighten($primary-color, 76%);
$green:#25af7b;
$shadow:0 1px 6px rgba(0, 0, 0, 0.08);
$shadow-hover:0 4px 20px rgba(0, 0, 0, .16);
$middle-width: 768px;
$large-width: 1024px;
$xlarge-width:1366px;

@mixin middle {
  @media (min-width: #{$middle-width}) and (max-width: #{$large-width - 1px}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large-width}) and (max-width: #{$xlarge-width}) {
    @content;
  }
}

@mixin xlarge {
  @media (min-width:#{$xlarge-width}) {
    @content
  }
}

@mixin small {
  @media (max-width:#{$middle-width}) {
    @content
  }
}