$primary-color:#000;
$light:#999999;
$lighter:lighten($light, 35%);
$blue:#1A237E;
$shadow:0 1px 6px rgba(0, 0, 0, 0.08);
$shadow-hover:0 4px 20px rgba(0, 0, 0, .16);
$middle-width: 720px;
$large-width: 1060px;
$xlarge-width:1400px;
$yellow:#FDEB59;
$yellow-light:#f8edd9;
$yellow-bright:#feed49;
$blue-light:#BDD0E7;
$green:#4F9BA8;
$green-light:#C1E2E8;
$brown:#6F4D1F;
$brown-light:#F1E5D0;

@mixin middle {
    @media (min-width: #{$middle-width}) and (max-width: #{$large-width - 1px}) {
        @content;
    }
}

@mixin large {
    @media (min-width: #{$large-width}) and (max-width: #{$xlarge-width}) {
        @content;
    }
}

@mixin xlarge {
    @media (min-width:#{$xlarge-width}) {
        @content
    }
}

@mixin small {
    @media (max-width:#{$middle-width}) {
        @content
    }
}