$primary-color:#000;
$light:#4B4B4B;
$lighter:lighten($light, 35%);
$blue:#1A237E;
$green:#26C6DA;
$shadow:0 1px 6px rgba(0, 0, 0, 0.08);
$shadow-hover:0 4px 20px rgba(0, 0, 0, .16);
$middle-width: 720px;
$large-width: 1060px;
$xlarge-width:1400px;

@mixin middle {
  @media (min-width: #{$middle-width}) and (max-width: #{$large-width - 1px}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large-width}) and (max-width: #{$xlarge-width}) {
    @content;
  }
}

@mixin xlarge {
  @media (min-width:#{$xlarge-width}) {
    @content
  }
}

@mixin small {
  @media (max-width:#{$middle-width}) {
    @content
  }
}