@import 'variables.scss';

.avatar {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background: #ddd;
  border: 1px solid $lighter;
  color: #fff;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  &.avatar-image {
    background: #fff;
  }
}



.avatar-large {
  width: 56px;
  height: 56px;
  line-height: 56px;
}

.avatar-large>* {
  line-height: 56px
}

.avatar-large.avatar-icon {
  font-size: 24px
}

.avatar-small {
  width: 26px;
  height: 26px;
  line-height: 26px;
}

.avatar-small>* {
  line-height: 26px
}

.avatar-small.avatar-icon {
  font-size: 14px
}


.avatar>img {
  width: 100%;
  height: 100%
}

.avatar-container {
  display: flex;
  box-align: center;
  align-items: center;
  .avatar {
    margin-right: 6px;
  }
}
