@import 'variables.scss';
.progress {
  display: inline-block;
  position: relative;
}

.progress-square {
  width: 100%;
  font-size: 12px;
  height: 4px;
}


.progress-square {
  background: $lighter;

  .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $primary-color;
    transition: all .1s;
    text-align: center;
  }
  .progress-text {
    margin-top: 4px;
  }
}


.progress-chart {
  border-radius: 50%;
  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}


.circle-svg {
  transform: rotate(-90deg);
  background: $lighter;
  border-radius: 50%;
  .pie {
    fill: $lighter;
    stroke: $primary-color;
    transition: stroke-dasharray .1s
  }
}









.progress-show-info {
  .progress-text {
    display: inline-block;
  }
}

.progress-text {
  display: none;
  font-size: 10px;
}



.progress-wrong {
  .progress-bg {
    background-color: $error-color;
  }
  .progress-text {
    color: $error-color;
  }
}

.progress-success {
  .progress-bg {
    background-color: $primary-color;
  }
  .progress-text {
    color: $primary-color;
  }
}
